templateExternalCMake/database.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="database">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="what" />
                <xsd:element name="projectname" />
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
