templateTemplate/database.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="database">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:choice minOccurs="0" maxOccurs="unbounded">
                <xsd:element ref="template"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>
    </xsd:element>

    <xsd:element name="template">
        <xsd:complexType>
            <xsd:attribute name="header" type="xsd:NCName" use="required" />
        </xsd:complexType>
    </xsd:element>

</xsd:schema>
